@{
    ViewData["Title"] = "Easily view and update Azure B2C Custom Properites";
}

<div class="row align-items-center pb-4 mt-lg-4 mt-xl-4">
    <div class="col-md-6 col-sm-12">
        <h1 class="display-4 pb-2 pb-lg-3 mt-sm-2 mt-lg-5">
            SHOW THE USERS
        </h1>
        <a href="/users/" class="btn btn-primary btn-lg">View users</a>
                <h1 class="display-4 pb-2 pb-lg-3 mt-sm-2 mt-lg-5">
            SHOW THE USERS
        </h1>
        <a href="/Calculator/" class="btn btn-primary btn-lg">Calculator</a>
    </div>
    <div class="col-md-6 col-sm-12 p-5">
        <img src="/assets/img/b2c_user_admin_edit.png" alt="Edit Azure B2C User">
    </div>
</div>
<hr />